<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
    <title></title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <!--/*@thymesVar id="bookFlightForm" type="com.github.tripflow.infrastructure.adapter.web.flight.BookFlightForm"*/-->
    <th:block th:object="${bookFlightForm}">

        <div class="row-cols-1 mt-3">
            Please select a flight for your trip N°: <span th:text="*{tripId}"/>
        </div>

        <div class="row-cols-2 mt-2">

            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Number</th>
                    <th>Origin</th>
                    <th>Airport</th>
                    <th>Destination</th>
                    <th>Airport</th>
                    <th>Price</th>
                    <th style="text-align: right">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight: *{flights}">
                    <td>
                        <input type="radio" th:checked="${#object.selectedFlightNumber == flight.flightNumber.number}"
                               disabled="disabled">
                    </td>
                    <td th:text="${flight.getFlightNumber()}"></td>
                    <td th:text="${flight.getOriginCity()}"></td>
                    <td th:text="${flight.getOriginIataCode()}"></td>
                    <td th:text="${flight.getDestinationCity()}"></td>
                    <td th:text="${flight.getDestinationIataCode()}"></td>
                    <td th:text="${#strings.concat(flight.getPrice(), ' CHF')}"></td>
                    <td style="text-align: right">
                        <th:block th:if="${#object.selectedFlightNumber != flight.flightNumber.number}">
                            <form method="post" action="#" th:action="@{/selectFlightForTrip(taskId=*{taskId},tripId=*{tripId},flightNumber=${flight.flightNumber.number})}">
                                <button class="btn btn-sm btn-success" onclick="submitForm(this)">Select</button>
                            </form>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div th:if="*{flightSelected}" class="row-cols-2 mt-2">
            <form method="post" action="#" th:action="@{/confirmFlightBooking(taskId=*{taskId})}">
                <button class="btn btn-sm btn-info" onclick="submitForm(this)">Confirm booking</button>
            </form>
        </div>

    </th:block>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>