<!DOCTYPE HTML>

<!--
    References:
    ----------

    1. Thymeleaf, input text in "action" attribute: https://stackoverflow.com/questions/45716052/thymeleaf-pass-input-text-as-parameter-in-form-action
-->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-2 mt-3">

        <table>
            <thead>
            <tr>
                <th>Trip ID</th>
                <th>Done</th>
                <th>Next task</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="tripEntries" type="java.util.List<com.github.tripflow.core.model.trip.TripEntry>"*/-->
            <tr th:each="entry: ${tripEntries}">

                <td th:text="${entry.tripId.shortId}"></td>

                <td>
                    <i th:if="${entry.flightBooked}" class="fa fa-plane"></i>
                    <i th:if="${entry.hotelReserved}" class="fa fa-hotel"></i>
                </td>

                <td th:text="${entry.taskName}"></td>
                <td>
                    <form method="post" action="#"
                          th:action="@{/performTaskAction(action=${entry.taskAction},taskId=${entry.taskId})}">
                        <button class="btn btn-sm btn-success" onclick="submitForm(this)">Continue
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>