<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">

        <table>
            <thead>
            <tr>
                <th>Trip ID</th>
                <th>Next task</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="tripTasks" type="java.util.List<com.github.tripflow.core.model.trip.TripTask>"*/-->
            <tr th:each="task: ${tripTasks}">

                <td th:text="${task.taskId}"></td>
                <td th:text="${task.name}"></td>
                <td>
                    <form method="post" action="#" th:action="@{/continueTripTask}">
                        <button class="btn btn-info" onclick="this.closest('form').submit();return false;">Continue</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>