<!DOCTYPE HTML>

<!--
    References:
    ==========

    1.  Some templates are copied from cargo-clean project. See: https://github.com/gushakov/cargo-clean.
    2.  Use link to submit a form: https://stackoverflow.com/questions/4286466/use-a-normal-link-to-submit-a-form
    3.  Baeldung, Conditionals with Thymeleaf: https://www.baeldung.com/spring-thymeleaf-conditionals
    4.  Thymeleaf, Asterisk expression syntax: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#expressions-on-selections-asterisk-syntax
-->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">
       Hello <span th:text="${userName}" style="font-weight: bold;">user</span>.  Currently, you can do the following:
    </div>

    <div class="row-cols-1">
        <ul>
            <li>
                <form method="post" action="#" th:action="@{/createNewTripBooking}">
                    <a href="#" onclick="submitForm(this)">Book new trip</a>
                </form>
            </li>
            <li><a th:href="@{/browseActiveTrips}">Browse active trips</a></li>
        </ul>
    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>