<!DOCTYPE HTML>

<!--
    References:
    ==========

    1.  Some templates are copied from cargo-clean project. See: https://github.com/gushakov/cargo-clean.
-->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <div class="row-cols-1 mt-3">
       Hello <span th:text="${userName}" style="font-weight: bold;">user</span>  Currently, we can do the following:
    </div>

    <div class="row-cols-1">
        <ul>
            <li>
                <form method="post" action="@{/createNewTripBooking}">

                </form>
            </li>
            <li><a th:href="@{/browseActiveTripBookings}">Browse active trips</a></li>
        </ul>
    </div>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>