<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
    <title></title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <!--/*@thymesVar id="reserveHotelForm" type="com.github.tripflow.infrastructure.adapter.web.hotel.ReserveHotelForm"*/-->
    <th:block th:object="${reserveHotelForm}">
        Here are some hotels in your destination city: <span class="tb" th:text="*{city}">Destination</span>

        <div class="row mt-3">

            <div class="col-3" th:each="hotel: *{hotels}">

                <div class="card" style="width: 15rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <input type="radio" disabled="disabled"
                                       th:checked="${#object.selectedHotelId == hotel.hotelId.id}">
                            </div>
                            <div class="col" style="text-align: end">
                                <th:block th:if="${#object.selectedHotelId == hotel.hotelId.id}">
                                    <span>Selected</span>
                                </th:block>
                                <th:block th:if="${#object.selectedHotelId != hotel.hotelId.id}">
                                    <form method="post" action="#"
                                          th:action="@{/selectHotelForTrip(taskId=*{taskId},tripId=*{tripId},hotelId=${hotel.hotelId.id})}">
                                        <button class="btn btn-sm btn-success" onclick="submitForm(this)">Reserve
                                        </button>
                                    </form>
                                </th:block>
                            </div>
                        </div>

                    </div>
                    <img th:src="${#strings.concat(#servletContext.contextPath, '/img/', hotel.imageFile)}"
                         class="card-img-top" alt="Hotel">
                    <div class="card-body">
                        <h6 class="card-title" th:text="${hotel.name}">Some hotel</h6>
                        <p class="card-subtitle mb-2 text-muted" th:text="${#strings.concat(hotel.price, ' CHF')}">100
                            CHF</p>
                        <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                </div>
            </div>

        </div>

        <div th:if="*{hotelSelected}" class="row-cols-2 mt-2">
            <form method="post" action="#" th:action="@{/confirmHotelReservation(taskId=*{taskId})}">
                <button class="btn btn-sm btn-info" onclick="submitForm(this)">Confirm hotel</button>
            </form>
        </div>

    </th:block>

</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>