<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
    <title></title>
</head>
<body>
<div class="container-fluid">

    <div th:replace="fragments :: header"></div>

    <!--/*@thymesVar id="reserveHotelForm" type="com.github.tripflow.infrastructure.adapter.web.hotel.ReserveHotelForm"*/-->
    <th:block th:object="${reserveHotelForm}">
        Here are some hotels in your destination city: <span class="tb" th:text="*{city}">Destination</span>

        <div class="row mt-3">

            <div class="col-3" th:each="hotel: *{hotels}">

                <div class="card" style="width: 15rem; height: 21rem;">
                    <img th:src="${#strings.concat(#servletContext.contextPath, '/img/', hotel.imageFile)}"
                         class="card-img-top" alt="Hotel">
                    <div class="card-body">
                        <h6 class="card-title" th:text="${hotel.name}">Some hotel</h6>
                        <p class="card-subtitle mb-2 text-muted" th:text="${#strings.concat(hotel.price, ' CHF')}">100
                            CHF</p>
                        <p class="card-text small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        <a href="#" class="btn btn-sm btn-success">Reserve</a>
                    </div>

                </div>
            </div>

        </div>

    </th:block>


</div>

<th:block th:replace="fragments :: footer"></th:block>
</body>
</html>